<table>
    <tr>
        <td>
            <!-- ko foreach: getRegion('behind-button') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </td>
        <td>
            <!-- ko foreach: getRegion('grand-total') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </td>
        <td>
            <!-- ko foreach: getRegion('next-button') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </td>
    </tr>
</table>
